In [1]:
# !pip install kaggle
import kaggle

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# Extraxt zip file
import zipfile

zip_rep = zipfile.ZipFile('orders.csv.zip')
zip_rep.extractall() #Extract file 
zip_rep.close() # Extract close

In [4]:
# Read data from file and handle null value
import pandas as pd

df = pd.read_csv('orders.csv', na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [8]:
# Replace cloumn name uppercase to lower case with under score
# df.rename(columns={'Order Id':'order_id', 'City':'city'})
# df.columns=df.columns.str.lower()
# df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [10]:
# Derive new column discount, sale price, profit 
# df['discount']=df['list_price']*df['discount_percent']*.01 # *.01 ya divide by 100 same thing
# df['sales_price']=df['list_price']-df['discount']
df['profit']=df['sales_price']-df['cost_price']
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [11]:
# Convert order date data type object to datetime

df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [12]:
# Drop list_price and  discount_percent

# df.dtypes
df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)

In [13]:
# Load data into sql using replace func

import sqlalchemy as sal
engine = sal.create_engine('mssql://KHR/master?driver=ODBC+Driver+17+for+SQL+Server')
conn = engine.connect()

In [14]:
# Load data sql using append 

df.to_sql('df_order' , con=conn , index=False , if_exists= 'append')

38

In [15]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sales_price', 'profit'],
      dtype='object')